@font-face {
    font-family: "Norse-Bold";
    src: url("/fonts/Norse-Bold\ \(1\).otf")format("truetype")
}

body{
    display: flex;
    margin: 0;
    height: 100vh;
}

.container1{
    display: flex;
    background-image: url("/fondoForm.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container1 img{
    width: 60px;
    height: 70px;
}

.container1 footer{
    display: flex;
    color: aliceblue;
    margin-bottom: 0;
}

.container1 a{
    color: aliceblue;
}

.title{
    display: flex;
    background-color: rgba(48, 48, 48, 0.5);
    width: 100%;
    font-family: "Norse-Bold";
    color: aliceblue;
    justify-content: center;
    margin-top: 120px;
}

.title h1{
    display: flex;
    font-size: 60px;
}

.Container2{
    display: flex;
    background-color: aliceblue;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.introForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 245, 245);
    text-wrap: wrap;
    padding: 30px;
}

.introForm span{
    font-style: oblique;
}

.formContainer {
    padding: 30px;
}

.formContainer h3 p{
    font-size: x-large;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las filas de grupos */
}

.form-group {
    display: flex;
    justify-content: space-between; /* Distribuye los divs dentro de la fila */
    gap: 20px; /* Espacio entre las columnas */
}

.form-group div {
    display: flex;
    flex-direction: column;
    width: 48%; 
}

.form-group label {
    font-weight: 500;
    font-size: small;
}

.form-group input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
}

.pass input:invalid{
    border: 2px solid red;
}


.buttonContainer{
    display: flex;
    flex-direction: column;
}

.buttonContainer button{
    cursor: pointer;
    margin-top: 30px;
    color: aliceblue;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 45px;
    font-weight: bold;
    font-weight: 700;
}

.buttonContainer a{
    text-decoration: none;
    color: #596D48;
}